/* Global styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffe6e6;
  /* Soft pink background */
}

/* App component styles */
.app {
  text-align: center;
  padding-top: 50px;
}

.app-title {
  color: #ff6666;
  /* Valentine red color */
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* PhotoModal component styles */
.photo-modal-image {
  max-width: 90%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-modal-close {
  background-color: #ff6666;
  color: white;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.photo-modal-close:hover {
  background-color: #cc5252;
}

/* AffectionWords component styles */
.affection-words {
  color: #333;
  font-size: 1.2em;
  margin: 40px 0;
  padding: 0 20px;
}

/* Button to open photo modal */
.photo-button {
  background-color: #ff6666;
  color: white;
  font-size: 1.2em;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.photo-button:hover {
  background-color: #cc5252;
}

.poem-button {
  background-color: #ff6666;
  color: white;
  font-size: 1.2em;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.poem-button:hover {
  background-color: #cc5252;
}

/* PoemModal component styles */
.poem-modal {
  background-color: #ff6666;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.poem-modal-close {
  background-color: #cc5252;
  color: white;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.poem-modal-close:hover {
  background-color: #b34747;
}

/* Footer component styles */

/* Animations and transitions */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.affection-words {
  animation: fadeIn 2s ease-in-out;
}

/* add media query for mobile devices */
@media (max-width: 600px) {
  .app-title {
    font-size: 1.5em;
  }

  .photo-modal-image {
    max-width: 100%;
  }

  .photo-modal-close {
    font-size: 0.8em;
  }

  .photo-button {
    font-size: 1em;
  }

  .poem-button {
    font-size: 1em;
  }

}

/* add media query for large screens */
@media (min-width: 1200px) {
  .app-title {
    font-size: 2em;
  }

  .photo-modal-image {
    max-width: 80%;
  }

  .photo-modal-close {
    font-size: 1.2em;
  }

  .photo-button {
    font-size: 1.5em;
  }
}